DATABASE_URL="mysql://root:bmclub_dev@localhost:3306/rootroot"
JWT_ACCESS_SECRET="troque-por-um-segredo-forte"
JWT_REFRESH_SECRET="troque-por-outro-segredo-forte"
PORT=4000
WEB_URL="http://localhost:3000"
